

/* Big tablet to widths smaller that the 1140px row - from 1023 to 1280px */
@media only screen and (max-width: 1280px) {
    
    .welcome-text-box {
        width: 100%;
        padding: 0 7%;
    }
        
    .row { padding: 0 2%; }
    

}


/* Small tablet to big tablet - from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    
    .welcome-text-box {
        width: 100%;
        padding: 0 10%;
    }
    
    body {font-size: 18px;}
    section {padding: 60px 0;}
    
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box{ margin-top: 2px;}
    .steps-box:last-child{margin-top: 10px;}
    .works-step{ margin-bottom: 40px; }
    .works-step:last-of-type{margin-bottom: 60px; }
    .app-screen{width: 50%;}
    
    .quote-quotes{ margin-top: 50px;}
    .coco { padding-top: 27px;}
    .steve { padding-top: 2px;}
    .christian{ padding-top: 1px;}
    
    .plan-box{
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price{ font-size: 250%;}
    
    .contact-form{ width: 80%;}
    
    .main-nav {display: none;}
    
        .section-design-quotes
    {
 
        display: inline-block;
        width: 100%;
        height: auto;    

        background-size: 100%;
        background-position: 100%;
        background-repeat: no-repeat;
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/3.jpg); 
        
       
        background-size: cover;
        background-position: center;
    }
    
    
}

/* All phones smaller than the Ipad - from 481 to 767px */
@media only screen and (max-width: 767px) {
    
    .welcome-text-box {
        width: 100%;
        padding: 0 30%;
    }
    

    
    body{ font-size:16px;}
    section{ padding: 30px 0;}
    
    h1 { font-size: 180%;}
    h2 {font-size: 150%;}
    
    .row,
    .welcome-text-box {padding: 0 4%; }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav {display: none;}
    
    .long-copy {
        width: 100%;
        margin-left:0%;
    }
    
    
  
    
    .column{
    -ms-flex: 100%; /* IE10 */
    flex: 50%;
    max-width: 70%;
    padding: 0 100px;
    overflow: hidden;

}
   
    

    
    .works-step{ margin-bottom: 20px; }
    .works-step:last-of-type{margin-bottom: 20px; }
    .works-step{ margin-bottom: 20px; }
    .works-step:last-of-type{margin-bottom: 25px; }
    .steps-box:first-child{text-align: center;}
    .app-screen{width:40%;}
    .works-step div {   
        height: 38px;
        width: 38px;
        padding: 4px;
        font-size: 130%;
        margin-right: 15px;
        margin-bottom: 10px;
        font-size: 120%;

    }
    
    .quote-quotes{ margin-top: 25px;}
    .coco { padding-top: 2px;}
    .steve { padding-top: 2px;}
    .christian{ padding-top: 2px;}
    
    .section-design-quotes
    {
 
        display: inline-block;
        width: 100%;
        height: auto;    

        background-size: 100%;
        background-position: 100%;
        background-repeat: no-repeat;
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/3.jpg); 
        
    }
    
    
    
}

/* Small phones - iphone5 - from 0 to 480px */
@media only screen and (max-width: 480px) {
    
    .contact-form{ width: 100%;}
    section{ padding: 20px 0;}
    
    .logo{
        height: 50%;
        width:50%
    }
    
        .column{
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    max-width: 100%;
    padding: 0 100px;
    overflow: hidden;

}
    
    .quote-quotes{ margin-top: 25px;}
    .coco { padding-top: 2px;}
    .steve { padding-top: 2px;}
    .christian{ padding-top: 2px;}

